$primary: #7800ff;
$red: #ff2a4e;
$bg-primary: #25262a;
$bg-primary-alt: #202225;
$bg-secondary: #2f3136;
$bg-secondary-alt: #3c3f44;
$outline-dark: #1d1f22;
$fs: 16px;
$medium-text-fs: 0.85rem;
$small-text-fs: 0.75rem;
$h1-fs: 2rem;
$h2-fs: 1.5rem;
$h3-fs: 1.25rem;
$text-color: #73767b;
$text-color-alt: #4a4c51;
$text-highlight-color: #ffffff;
$h-color: #ffffff;
$cover-shadow: 0 2px 11px 0 #0000002c;
$cover-shadow-hover: 0 2px 11px 0 #00000069;
