@import '../../sass/vars.module.scss';
@import '../../index.module.scss';

.main {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100;
  padding-top: 0.25rem;
}
.selector {
  position: absolute;
  right: 0;
  right: 0;
  width: 4px;
  border: none;
  background-color: $primary;
  height: 2rem;
  transition: all 200ms ease, opacity 200ms 100ms ease;
}
.entry {
  @include noselect;
  width: 100%;
  padding: 0 1.5rem;
  margin: 1rem 0 0 0;
  font-size: $h3-fs;
  color: $text-color-alt;
  // border: 1px solid blue;
  transition: color 100ms ease;
}
.entry:hover {
  color: $text-color;
}
.current {
  color: $text-highlight-color !important;
}
